[2016-04-24 07:46] Raathigesh opened #1 "Improve drag and drop experience"
The drag and drop functionality to reorder the widgets. But it's not smooth enough.

Should be improved to make the experience a lot better.

[2016-04-25 07:24] krizka opened #2 "Resizing"
Can't find it in demo. Is it possible to resize rows/columns?

[2016-04-25 08:26] Raathigesh commented on #2
Sorry! Resizing is not supported.

Maybe you could have multiple layouts and allow users to choose among those layouts?

[2016-04-27 08:32] glebcha commented on #2
@Raathigesh but you can implement resize with class change of parent node (col-md-12 ---> col-md-11 etc.) or with style variables in jsx (40% ----> 39,8% etc.).

[2016-04-27 14:38] max107 commented on #2
👍

[2016-04-27 16:17] Raathigesh commented on #2
When multiple classes are provided (for different screen sizes like md, sm and xs), how to deal with them when resizing ?

[Angular Dashboard Framework's](http://angular-dashboard-framework.github.io/angular-dashboard-framework/#/sample/01) approch is presening user with a bunch of differnt layout. What's your thoughts on such an approach ?

[2016-05-04 17:04] tannerlinsley opened #4 "Update example to use Chart.js 2.0"
:)

[2016-09-11 21:52] johncmckim opened #6 "Row Class should be on Columns parent"
I am trying to use Dazzle with [React Material Design Light](https://github.com/tleunen/react-mdl) but I am having issues with the grid structure. Dazzle generates the following html:

<img width="508" alt="html" src="https://cloud.githubusercontent.com/assets/1297227/18420726/d1bcd0ba-78bc-11e6-81e2-ac59d41f9492.png">

There is an extra div between `mdl-grid` and `mdl-cell`. React MDL uses flexbo

[2016-09-12 14:16] Raathigesh commented on #6
Hi,

I agree with this proposal. Unfortunately, I won't be able to get to work on this immediately. If you are willing to send a PR, please do so. I will merge and push a release.

Let me know if I can help in anyway further.

[2016-09-13 20:36] johncmckim commented on #6
I've sent a PR please let me know if I need to make any changes to it.

[2016-09-14 16:15] Raathigesh commented on #6
Thank you for the awesome PR. Released with [v1.2.3](https://github.com/Raathigesh/Dazzle/releases/tag/v1.2.3). Let me know if you run into any further difficulty with dazzle.

[2016-09-14 16:15] #6 closed

[2016-09-28 23:22] aaronmagi opened #8 "Unable to get dashboard to render using npm install"
Hi I tried using your example you have in the readme for "usage" after installing to my project with npm.  The problem is that the dashboard will not render.

I brought in some of you sample widgets to see if that was the issue but I still do not get anything to render using the sample you provided.

[code]

setting state...

[code]

[code]

[2016-09-29 04:30] Raathigesh commented on #8
Hi,
Have you looked at [the starter kit project ](https://github.com/Raathigesh/Dazzle-Starter-Kit)of dazzle? It would be easy if you could provide a sample repo with your code so I can take a look at it.

[2016-09-29 17:23] aaronmagi commented on #8
Yes I have looked at it.

I can not provide a sample repo as it is being integrated to a application at work.  Can you see any issues of what is shown above?

I can possibly move it into its own component as well and share that if its easier.

[2016-09-29 18:00] Raathigesh commented on #8
I noticed a spelling mistake in the `layout` key of the state. You misspelled it as `llayout`. If this didn't solve the issue, It would be helpful If you could move it into its own component and share as a gist.

I did not test with React 15.0.x but it should work. I will update the sample projects to React 15.0.x soon.

[2016-09-29 18:04] Raathigesh commented on #8
And the `require` or `import from` keyword missing in the above snippet. Is it intentional ?

[2016-09-29 22:44] aaronmagi commented on #8
Hey I ended up setting building it out into its own component and importing that into my app but ran into (intermediate value)[chartType] is not a function.  I havent had time to relook at it again, I saw a bunch of people taking about chart.js v2 not being supported currently by the older reactchart and when I tried to change it even using your package.json settings it still gave the same error.

[2016-09-30 04:26] Raathigesh commented on #8
If you could add a sample hello world widget without react-chart, we can check whether react-dazzle is rendering the widgets as expected. Let me know how I can help you further.

[2016-10-02 03:23] cperera-aud opened #9 "Unable to copy text in widgets to clipboard"
Hello,

I noticed that when a component is rendered as a widget in the dashboard text cannot be copied to a clipboard. I was wondering is this a limitation due to drag and drop. Please let me know if there are any workarounds or if I am missing anything!

Thanks in advance!

[2016-10-02 09:47] Raathigesh commented on #9
React-DnD seems to be the one causing this. I will look into this.

[2016-10-05 12:17] Raathigesh commented on #8
Hey @aaronmagi, do you still have problem with getting react-dazzle working ?

[2016-11-03 03:27] cperera-aud commented on #9
Hi Raathigesh,

I was wondering were you able to make any progress on this issue?

Thanks,
Chamira.

[2016-11-03 04:16] Raathigesh commented on #9
I investigated but I couldn't find a proper solution yet. I should be able to dig more into this issue this weekend. Will get back to you soon.

[2016-11-03 04:26] cperera-aud commented on #9
Thanks much appreciated!

[2016-11-17 22:46] GCrouspeyre opened #10 "Duplication of Widgets"
Hi,

Really liking this library over react-grid-layout.

However, not sure if it's been picked up before, but it looks like widgets get duplicated if they are dragged and dropped on widgets of the same type.

Will have a look but if it's a know issue, would love to have a fix.

Thanks!

Update: Odd. It seems that:
- The duplication is not consistently occuring
- The duplication can also occur when

[2016-12-06 00:55] cperera-aud commented on #10
I'm also noticing this issue and it can be reproduced with demo site as well (http://raathigesh.com/dazzle/). You have to drag and drop several times before you hit the issue. @Raathigesh do you know why this maybe happening? It would be great if we can get a fix for this.

Thanks in advance.

[2016-12-06 05:02] Raathigesh commented on #10
I can also reproduce the issue. I will get back to you after doing a bit of digging into this.

[2016-12-06 05:21] cperera-aud commented on #10
Thanks @Raathigesh

[2016-12-14 23:06] cperera-aud commented on #10
Hi @Raathigesh sorry to trouble you but I was wondering did you make any progress on the issue? Thanks!

[2016-12-15 18:14] Raathigesh commented on #10
I'm looking into it but it seems to bit tricky to exactly figure out the reason. The last fix I added also seems to be not working. I will investigate further during the weekend. Could you please update to version 1.2.4 and check whether the issue is still reproducible.

[2016-12-15 18:29] #8 closed

[2016-12-15 18:29] #2 closed

[2016-12-15 23:55] cperera-aud commented on #10
@Raathigesh I tried out version 1.2.4 and I can't reproduce the widget duplication issue on my end so the fix that you put in looks good. Thank you for taking the time to look into it.

[2016-12-16 04:13] Raathigesh commented on #10
I'm closing this for now. Feel free to reopen if this issue surfaces again.

[2016-12-16 04:13] #10 closed

[2016-12-30 07:07] alexanderwhatley opened #11 "Plotly.js?"
In your example, you use charts.js to create the graphs. Does your library currently support plotly.js (https://plot.ly/javascript/)? I am asking because my current graphs come out blank when shown using your dashboard....

[2016-12-30 07:11] Raathigesh commented on #11
Dazzle does not rely on any visualization library. It will render any react component you provide in a widget. If plot.ly works as a stand-alone component if your app, then it should work with dazzle too.

[2016-12-30 18:55] alexanderwhatley commented on #11
I see. The graphs work fine on their own, and I made sure that the data is being passed correctly to the objects in the dashboard by printing out the data in the class constructor. Do you have any suggestions to debug why the graphs are not being rendered properly by the Dashboard?

[2016-12-31 05:20] Raathigesh commented on #11
Would you be able to create a sample repo with the issue? I would be happy to take a look at it.

[2016-12-31 05:23] alexanderwhatley commented on #11
I think I figured it out. The issue was that it looks like the DOM has to look for the graphs themselves to render, so in the render() function, I had to include both the dashboard as well as the JSX Plot elements themselves.

[2017-01-03 09:28] Raathigesh commented on #11
Closing this for now. Feel free to re-open.

[2017-01-03 09:28] #11 closed

[2017-01-30 19:11] averypfeiffer opened #12 "Integration Suggestion"
Hey, I love what you've built so far. Great work.

I'd like to suggest integrating with [react-grid-layout](https://github.com/STRML/react-grid-layout). They do a great job with responsiveness while preserving the drag-and-drop functionality. Doing so could help make react-all and one-stop-shop for laying widgets out.

If I get a chance I'll fork and see if I can get a working example going.

[2017-01-30 19:58] Raathigesh commented on #12
Hey, I'm glad you like that project.

I even thought about integrating react-grid-layout but never got the time to really start implementing it. Right now I'm in the middle of another project and really want to finish that before starting anything else.

Please go ahead, if you can put together a working sample. I will also see what I can do soon after releasing the other project.

[2017-02-03 18:00] averypfeiffer commented on #12
@Raathigesh sounds good. Let me see what I can do

[2017-02-03 18:04] averypfeiffer commented on #12
@Raathigesh could you point me in the right direction for the layout engine?

[2017-02-03 18:45] Raathigesh commented on #12
@averypfeiffer Dazzle current has a `Row` component and multiple column components would come as a child of the `Row` component.

[LayourRenderer ](https://github.com/Raathigesh/dazzle/blob/master/lib/components/LayoutRenderer.js) should be a good place to start.

[2017-02-03 18:47] Raathigesh commented on #9
@cperera-aud  Sorry I could not finish the investigation of this issue. Are you still having trouble?

[2017-02-04 09:01] cperera-aud commented on #9
@Raathigesh thank you for your reply. The issue is there however, its not a major issue on our end. It would be nice if it can be sorted out when you get some time.

[2017-02-24 13:56] adkel92 opened #14 "Custom Frame Suggestion"
It would be good if there was a styles or background prop which you could pass to the custom frame.

I'd quite like to create a metro themed dashboard with different background colors on the widgets

[2017-02-24 16:06] Raathigesh commented on #14
Custom frame is a component that should be developed by you so you should be able to use any style you like. More detail on custom frame [here](https://github.com/Raathigesh/Dazzle/blob/master/docs/ImplementingACustomFrame.md).

Let me know if I'm not understanding your requirement correctly!

[2017-02-24 16:08] Raathigesh commented on #4
Dazzle does not depend on Chart JS but the examples use it. We can certainly update it!

[2017-02-24 16:22] adamk5550 commented on #14
Can you add additional props instead of the 4 currently supplied, e.g could i pass through a classNames prop to the custom frame ?

[2017-02-25 17:04] Raathigesh commented on #14
I will look into it and get back to you!

[2017-03-09 16:35] philmander commented on #14
This is workaround that might work for you:

You can already pass props to widgets. See https://github.com/Raathigesh/dazzle/pull/3

[code]

...and then you can access these in the widget frame via its `children` props:

[code]

[2017-03-25 18:48] Raathigesh opened #15 "React Dazzle V2 Roadmap"
Following are the ideas I have for the next major version of dazzle.

- [ ] Rewrite using typescript
- [ ] Use Jest for unit testing
- [ ] Move away from grid based layout and use [react grid layout](https://github.com/STRML/react-grid-layout) (#12)
- [ ] Use [styled components](https://github.com/styled-components/styled-components)
- [ ] Make dazzle more modular and have plugins.

### Plugins
Mo

[2017-04-01 23:15] xavier630 opened #17 "Multi-row components"
Hey, am I able to make widgets that take up multiple rows like this?
![image](https://cloud.githubusercontent.com/assets/9077250/24583166/8580f55a-1795-11e7-884d-91d166a2c3a1.png)

 I've tried nesting rows within columns but it doesn't seem to work. It may be that I have messed up the object as the nested arrays and curly braces get really complex. If you have an example, could you please post it?

[2017-04-02 03:42] n0trace opened #18 "How to pass parameters to the widget list components"
example:
[code]
My component `RecordPanel` need props initialze state, have many `RecordPanel` ,How to pass different  props to different  RecordPanel

Look forward to your favourable reply,

[2017-04-02 06:01] Raathigesh commented on #17
Nested rows in a column is not supported right now. But having a single row with multiple columns and having multiple widgets in a single column should work. A sample layout is given below.

[code]

FYI, I'm planning to rewrite dazzle which allows for more flexible layout using `react-grid-layout`. Keep an eye out for the [release](https://github.com/Raathigesh/dazzle/issues/15).

[2017-04-14 06:23] xavier630 commented on #18
Have you taken a look at https://github.com/Raathigesh/dazzle/pull/3?

[2017-04-14 06:24] xavier630 commented on #17
Any ETR on the release? I'm looking forward to it as I'll be able to lay everything out properly.

[2017-04-14 12:58] SixLiu opened #19 "Duplicate widgets"
The issue happened when drag a widget from same column index but different row.
It is also existing in demo, http://raathigesh.com/dazzle/
The reproduce steps:
1. drag 'reactor temp' to top 1st row 1st column
2. drag the 'reactor temp' to 2nd row 1st column

we can add
monitor.getItem().rowIndex===rowIndex
in WidgetFrame line 63 to fix this temporarily.
But it only can support change the order in

[2017-05-05 13:18] eborst opened #20 "example in readme not working."
Example in  the readme gives compile error.

Error in ./src/App.js Syntax error: C:/data/projects/test-admin/src/App.js: 'this' is not allowed before super()   10 | class App extends Component {
  11 |   constructor() {

     |     ^
  13 |       widgets: {
  14 |         WordCounter: {
  15 |           type: CounterWidget, @ ./src/index.js 13:11-27

[2017-05-07 09:16] #18 closed

[2017-05-14 16:21] AlessioVallero opened #21 "Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
With React 15.5, importing PropTypes from React is deprecated in favour of importing from the new 'prop-types' package.

Please substitute the following:
import React, { PropTypes } from 'react';
With:
import React from 'react';
import PropTypes from 'prop-types';

You obviously need to install the package prop-types

[2017-05-16 06:46] ngoctigerstyle opened #22 "<input> , <textarea> tag cannot work in IE 11."
I use  react-dazzle to create Dashboard. But in custom frame, i put an input tag and it not work in IE 11.
I cann't select character in textbox. How can I fix it.

[2017-05-30 00:26] surgeus commented on #19
I'm also experiencing this issue.

Is there any roadmap on when this will be addressed?

[2017-05-30 16:42] awitherspoon commented on #21
[This](https://github.com/Raathigesh/dazzle/pull/23) should handle it, as well as prepare it for use after 16.0.0

[2017-05-31 06:45] Raathigesh commented on #19
I relocated to Australia very recently and not been able to focus on the projects quite yet! I could take a look into this issue in another week or two! Feel free to send a PR if you could fix it!

[2017-06-18 06:42] Jeevan-Kishore opened #24 "Using grid layout with resize"
Can we use this repo for the functionality of having a smooth drag drop functionality with grid sizing.

[](https://github.com/STRML/react-grid-layout)

[2017-06-18 12:37] Raathigesh commented on #24
Dazzle meant to a dashboard framework. If you are looking for something more generic like a grid system, I would highly recommend looking into [react-grid-layout](https://github.com/STRML/react-grid-layout).

[2017-06-25 10:50] #9 closed

[2017-06-25 11:32] #24 closed

[2017-06-25 11:35] Raathigesh commented on #9
Fixed in [1.2.5](https://github.com/Raathigesh/dazzle/releases/tag/1.2.5)

[2017-06-25 11:35] Raathigesh commented on #22
Fixed in [1.2.5](https://github.com/Raathigesh/dazzle/releases/tag/1.2.5)

[2017-06-25 11:35] #22 closed

[2017-06-25 12:00] cperera-aud commented on #9
Thanks! Much appreciated!

[2017-07-21 14:41] jdiasamaro opened #28 "Dashboard re-creates widgets when edit mode changed"
Just checking if this is the supposed behavior: when the dashboard goes to edit mode, the widgets are re-created.

Is there a way to prevent the Dashboard column components from re-creating their widget components?

Many thanks.

[2017-07-22 02:20] Raathigesh commented on #28
Unfortunately, it's not possible with the current implementation. The component constructor is provided and then the components are created depending on the layout provided. This could be a problem for certain use-cases.

What exactly the issue you are experiencing due to this behavior?

[2017-07-22 03:07] Raathigesh commented on #21
Thanks to @awitherspoon, this is now in master. Will do a release soon!

[2017-07-22 03:07] #21 closed

[2017-07-22 03:12] Raathigesh commented on #20
class App extends Component {
  constructor() {
    **super();**
    this.state = {
      widgets: {
        WordCounter: {
          type: CounterWidget,
          title: 'Counter widget',
        }
      },
      layout: {
        rows: [{
          columns: [{
            className: 'col-md-12',
            widgets: [{key: 'WordCounter'}],
          }],
        }],
      }
    };
  }

  render(

[2017-07-22 03:15] Raathigesh commented on #17
I'm sorry I don't have an ETA at the moment. Been busy with anther project.

[2017-07-24 10:32] jdiasamaro commented on #28
Hi @Raathigesh thanks for the quick answer.

The problem was with a component that I have that contains a canvas with a chart. The canvas is redrawn every-time the dashboard goes into edit mode. Loosing all data points in the process.

The workaround I implemented was: before toggling the dashboard's edit mode I store a backup of the chart's data points and, since my widgets have the ref of the da

[2017-08-07 10:22] jdiasamaro commented on #1
Hello,

Just to add to this topic: I have a layout that simply does not allow me to move widgets. As soon as I try it, browser will freeze and the "Aw, snap" page appears. Some info about the problem:

![image](https://user-images.githubusercontent.com/1225695/29022801-b2d49ddc-7b62-11e7-9c99-a53f864492af.png)

[2017-08-07 23:36] Raathigesh commented on #1
Hello @jdiasamaro, Could you replicate the issue in a sample project and share it with me?

[2017-08-14 12:54] hudochenkov commented on #21
@Raathigesh congratulations on relocation!

Sorry for bothering. Would you be able to release new version with React 15.5+ support, please?

[2017-08-16 10:47] Raathigesh commented on #21
Hey @hudochenkov

Thank you and here is the release https://github.com/Raathigesh/dazzle/releases/tag/1.2.6.

Let me know if you run into any issues.

[2017-08-16 10:59] Raathigesh opened #29 "Who uses Dazzle?"
Hi all,

Curious to know who is using Dazzle. If you could share some info, it would be really awesome!

[2017-08-18 12:04] hudochenkov opened #30 "Update react-dnd"
There was so many hopes for 1.2.6 release that we won't see this warning anymore:

Unfortunatelly `react-dnd` and `react-dnd-html5-backend` are [pinned](https://github.com/Raathigesh/dazzle/blob/fb68d8a0eaad65895650d13ba96b11f80ec61e10/package.json#L87-L88) to old versions which wasn't aware about React 15.

Is there a reason why `react-dnd` and `react-dnd-html5-backend` are pinned to specific old

[2017-08-18 12:07] Raathigesh commented on #30
I can't recall why but it should be alright to update to the latest version. I'll try to do it tomorrow!

[2017-08-18 12:08] hudochenkov commented on #30
@Raathigesh Thank you very much!

[2017-08-19 11:02] Raathigesh commented on #30
So here is the release https://github.com/Raathigesh/dazzle/releases/tag/1.2.7 with the updated react-dnd dependency. But I still see a warning pop up in the console in the example app but I did not have time to inspect whether it's from the core library or from some other utility. Let me know if you run into issues.

[2017-08-19 12:22] hudochenkov commented on #30
It's fantastic! The warning is gone! Thank you very much!

[2017-08-19 12:22] #30 closed

[2017-09-18 11:07] khelkun opened #31 "DragDropContext HMLT5Backend at top level of my app"
Dazzle wraps its Dashboard Component with react-dnd's DragDropContext(HMLT5Backend)

I wish to use Dazzle in my application but also use react-dnd in another part of my component hierarchy which is not under the Dashboard component of Dazzle. So I would need to wrap my top most component in my React application with DragDropContext(HMLT5Backend). But whatever I do I will get the "Error: Cannot hav

[2017-09-18 12:21] Raathigesh commented on #31
I'm afraid there is no workaround I can think of right now since dazzle is coupled with react-dnd. Sorry about that!

[2017-09-18 12:56] khelkun commented on #31
For my usage I declared a new component in dazzle called DashboardNoDndContext (that doesn't instantiate the DragDropContext) and rebuilt and seems to be enough for my need. Obviously I also exported this DashboardNoDndContext in the index.js (not default export).
I can do a pull request for that: exporting a second Dahsboard component that let the responsability of creating the DragDropContext to

[2017-09-18 13:00] Raathigesh commented on #31
That seems like a neat solution! Feel free to send a PR! how about `DashboardWithoutDndContext` ?

[2017-09-18 13:17] khelkun commented on #31
Thanks I'll go for this PR
Ok for the compoenent name. I'll see if I can just keep one Dashboard component definition and export 2 distinct symbols for the same module: one wrapped/decorated by DragDropContext and the other without this wrapping.

[2017-09-18 13:27] Raathigesh commented on #31
Awesome! Two exports from the same file would be nice. We could remove the decorator and have an export which wraps the dashboard component with the Dnd context.

[2017-12-05 11:14] c-lack opened #38 "Modifying props of widgets from Dashboard"
How would I go about altering the state of a widget from the dashboard component?
I have tried changing the dashboard state to give new props to the widget, and the dashboard state is successfully changed and re-rendered, but the state of the widget never changes.
Perhaps something similar to how props are passed to widgets, a ref could be created for each widget:
widget:{
    type: Widget,
    ti

[2017-12-27 05:33] slowpoison opened #39 "Cannot resolve 'file' or 'directory' ./widgets/CounterWidget"
When I try the example in the README, it gives me this error:
[code]

If you mean the user to supply it, can you change it to HelloWorldWidget which you already list in the README.

[2018-01-04 11:42] akullpp opened #40 "React 16 support"
This project doesn't support React 16+ correct?

[2018-01-04 11:45] Raathigesh commented on #40
The project is not updated to react 16. But react is marked as a peer dependency. Is there an issue you are seeing when you use it in a react 16 project?

[2018-01-04 11:51] #29 closed

[2018-01-04 11:51] #15 closed

[2018-01-04 11:52] #1 closed

[2018-01-04 11:52] #4 closed

[2018-01-04 11:54] Raathigesh commented on #39
Please try the starter kit for a sample. https://github.com/Raathigesh/Dazzle-Starter-Kit

[2018-01-04 11:54] #39 closed

[2018-01-05 05:15] Raathigesh opened #41 "Looking for maintainers"
I'm looking for maintainers to keep an eye on this project and answer questions.  I don't use this project at the moment personally and I'm focused on few other projects, so I don't have the required time to answer questions, fix bugs and merge PRs.

If you are interested, please comment below.

[2018-01-07 20:40] shannonlal commented on #41
I am interested in using this.  I experience recently taking over another small project and would be willing to give you a hand and eventually take this over if you still need help

[2018-01-11 00:25] lacymorrow commented on #41
I'll help where I can.

[2018-01-19 12:57] AlluManikyam opened #42 "How to remove the webpack related matter in Dazzle"
I want to remove the web pack related matter and run as a general react project.what are the changes required if i changed to web pack to without web pack in react.

[2018-01-20 07:08] Raathigesh commented on #42
What do you mean by general react project? What is the bundler you are going to use if you are not going to use webpack?

[2018-01-24 09:18] lalitaphalak commented on #41
We are using this in one of project, due to this I have added few minor customization(sending indexes back) but I would like you to give me access to this repository, so that I can contribute changes to your code as well which will help others to utilize this library.

[2018-01-24 20:57] segebee commented on #41
@lalitaphalak have you converted this to react 16

[2018-01-29 06:25] lalitaphalak commented on #41
@segebee No.

[2018-01-30 03:24] mathewthe2 commented on #40
proptypes package is deprecated.

_Component DragDropContext(t) declared `PropTypes` instead of `propTypes`. Did you misspell the property assignment?_

[2018-02-04 15:45] elhay-av commented on #40
when using this package with react 16, npm instal throw an error
```npm WARN react-dazzle@1.2.7 requires a peer of react@^0.14.0 || ^15.0.0-0 but none was installed.```

you only need to add ```"react": "^0.14.0 || ^15.0.0-0 || ^16.0.0"```
in peerDependencies section of package.json

Thank you

[2018-02-12 06:46] AlluManikyam commented on #42
I am using the create-react-app, so it creates default bundler.I don't want the webpack bundler.could you please tell me what are the changes required if i removed web pack in dazzle.

[2018-02-12 08:46] tripuracherukuri commented on #42
Yes, I across the same problem. How to use react-dazzle in create-react-app.

[2018-02-12 10:05] Raathigesh commented on #42
Have you tried using this with create-react-app? There should not be any issue with it. What's the error you are encountering? Just install the npm package and require the CSS file.

[2018-02-13 13:26] bjclark13 commented on #38
@c-lack did you ever find a solution for this? If so, I would be interested in knowing what you did. I am trying the same thing, as I want to persist the state of dynamic components within the widgets.

[2018-02-13 15:11] c-lack commented on #38
Hi @bjclark13,
Yes I found a solution. Within state.widgets, each widget has a props object. Updating this prop in the app component with setState will call componentWillRecieve props in the widget. When I posted this question I wasn't managing the state properly and so my widgets weren't receiving the new props.

[2018-02-13 15:11] #38 closed

[2018-02-21 13:12] olegkudriavtsev commented on #40
Hi, do you have any updates regarding this issue? I have a similar problem. Adding react and react-dom as peerDependency didn't resolve it. Do you have any thoughts how to fix it?

[2018-03-04 07:46] vlaurin commented on #42
@AlluManikyam @tripuracherukuri This repository is a library, it's not meant to be used as a seed for your own dashboards.

However, a repository that can used as seed is [Dazzle-Starter-Kit](https://github.com/Raathigesh/Dazzle-Starter-Kit) by the very same author.
It does use Webpack, but so does `create-react-app`.

If you still want to use Dazzle with `create-react-app`, it's perfectly fine an

[2018-03-04 16:46] vlaurin commented on #14
I tried to make this a bit more straightforward in https://github.com/Raathigesh/dazzle/pull/44

[2018-03-26 09:09] Raathigesh commented on #41
Sorry for not responding on time. Thank you all coming forward to help on this. I'm added @lalitaphalak  as a collaborator for now. Hopefully, @lalitaphalak can help merge some open PRs and help others along the way.

[2018-03-26 09:09] Raathigesh commented on #42
Thanks @vlaurin. Closing this for now. Please reopen if required.

[2018-03-26 09:09] #42 closed

[2018-03-30 10:39] #41 closed

[2018-03-31 17:21] pcross616 commented on #40
this is now fixed in the pr #47 which has been merged @Raathigesh what do we need to do to get it published to npm.

[2018-04-01 02:08] Raathigesh commented on #40
I'll do it tonight!

[2018-04-01 02:38] Raathigesh commented on #40
Published master as [1.4.0](https://github.com/Raathigesh/dazzle/releases/tag/1.4.0). I mistakenly bumped the version to 1.4.0 instead of 1.3.0 but that should be fine.

[2018-04-02 08:56] vlaurin opened #48 "List of user submitted widgets"
I think it would be nice to maintain, as part of this repo, a list of example widgets submitted by the community. This would allow to showcase what can be achieved with Dazzle and would make a great foundation for people building their own dashboards and widgets.

This could be achieved using the repo Wiki, in a form similar to what's done by Smashing: https://github.com/Smashing/smashing/wiki/Add

[2018-04-03 22:49] denizoguz opened #49 "1.4.0 build causes "Uncaught TypeError: Super expression must either be null or a function, not undefined" error at runtime"
This error only occurs when bundle is produced with production mode of webpack. **Keeping everything the same and rolling back to 1.2.7 fixes the issue.**

[2018-04-04 04:11] pcross616 commented on #49
A lot changed between 1.4.0 and 1.2.7 such as React 16+ and node v8+.  A stack trace and other information will help us understand your issue better than just one line and exception.

[2018-04-04 04:15] #40 closed

[2018-04-04 04:30] johanventer commented on #19
I just encountered this issue, @SixLiu is correct - it happens because sorting tries to happen even though you are dragging between different rowIndex (but the same columIndex). I suspect it's the sortWidgets call that's resulting in the duplicates, but don't have the time to investigate.

Changing to this in the hover function in cardTarget resolves it (but means you have to drop in a new row fir

[2018-04-04 09:15] denizoguz commented on #49
Since the build is minified there is no meaningful stack trace, and this error doesn't occur on non minified build. I understand that without a stack trace it is difficult to identify problem. I will try to give more information as much as I can.
I have identified removing following line fixes the error but I need this method to add widgets on user action. It doesn't matter whether I'm calling the

[2018-04-08 18:03] denizoguz commented on #49
@vlaurin, Thanks for trying it. You can close this issue for now. Project is huge and I don't want to attach all of it here. If I could replicate it in a small sized project, I will definitely upload it. For the time being I'm using 1.2.7. Thanks for your support.

[2018-04-08 18:03] #49 closed

[2018-05-15 20:24] coichedid opened #50 "Support React 16"
Hi guys,

Is Dazzle already supports React 16? I saw a closed issue about this, but I can't figure out if it is already in React 16.

[2018-05-24 03:14] lecontre opened #51 "Error on Bundle.js: "Super expression must either be null or a function, not defined""
Currently Getting the following error in my bundle.js

The package runs perfectly in development mode but as soon as I build my bundle I get the following error:  "Super expression must either be null or a function, not defined"

Tracking the error takes to thi section in the lib.js

`if("function"!=typeof t&&null!==t)throw new TypeError("Super expression must either be null or a function, not "+t

[2018-06-11 06:29] AaronFixer opened #52 "Typings?"
I'm working on some typings for this as we'll likely be using it for our project.

However, I'm just wondering whether you've started the typings already?

[2018-06-14 04:31] pcross616 commented on #52
No this would be great.. I will be needing this as well shortly.

[2018-06-14 04:34] pcross616 commented on #50
It now support react 16. Dazzle Version 1.4+

[2018-06-14 04:34] #50 closed

[2018-06-14 04:37] pcross616 commented on #51
I need more information to help you with this.  All the test pass in both modes and I have a feeling it due to something else not dazzle. Feel free to re open with a repo.

[2018-06-14 04:37] #51 closed

[2018-07-10 17:02] shilpikanade commented on #41
Is there a way to add an itemclick to a widget, so that when the widget is clicked, it launches a url or another page?

[2018-08-17 09:17] danieldram commented on #41
I will try my best as I run into blockers while trying to use this as a foundation for a project I am working on. How quick are PR turn arounds in general?

[2018-09-04 15:09] samsch commented on #51
I think the proper fix for this is to turn off uglification in this lib for the (package.json) main entrypoint `dist/lib.js`. A second minified UMD build could be provided as well, perhaps as `dist/react-dazzle.min.js`.

[2018-09-04 15:56] samsch opened #53 "Error building with UglifyJS: "Super expression must either be null or a function, not defined""
Dupe of #49 & #51, but with reproduction: https://github.com/samsch/test-dazzle

I forked and modified the build to fix this. https://github.com/samsch/dazzle/tree/1.4.0-cjs

There's no real need to build with Webpack for CommonJS modules, none of the features in the config are being used, so this does the build with just Babel and outputs the compiled modules to `dist/`.

You can directly install

[2018-09-04 16:08] pcross616 commented on #53
Thank you for the repro.  I will look at it and see what we can do about the umd builds.  Feel free to make a PR from your fork.

[2018-09-04 19:59] pcross616 commented on #51
I will look in to this further..

[2018-09-05 15:36] JeffLoo-ong commented on #52
Looking to utilize this in my project as well, any news on the typings for this :)?

[2018-09-05 15:38] pcross616 commented on #52
We are in progress internally here but are still aways out.

[2018-09-14 14:06] mimo1612 opened #54 "Example is not workind - TypeError key"
I try the first example by I have this error

TypeError: n[e.key] is undefined

Tkanks

[2018-09-19 22:18] cphoover commented on #17
I haven't tested this yet but is Dazzle nestable?

[2018-10-04 19:01] #14 closed

[2018-10-23 13:10] Mousecop commented on #52
Hello. I was curious if there is an update on the typings?

[2018-10-26 13:56] Mousecop opened #60 "SourceMap Error"
I have recently started to use this package for a project I am working on. When running the code locally, I am getting:
[code]

Steps to reproduce is too NPM install and run the package in a new project created with CRA. Also I do not see this when running the sample app.

Thank you.

[2018-10-26 19:03] pcross616 commented on #60
Are you doing a product or development run of the code.  I think the source map is missing in the production package deploy.

From: Jacob Askew <notifications@github.com>
Reply-To: Raathigesh/dazzle <reply@reply.github.com>
Date: Friday, October 26, 2018 at 6:56 AM
To: Raathigesh/dazzle <dazzle@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Raathigesh/dazzle] SourceMa

[2018-10-26 19:04] Mousecop commented on #60
Product I believe since I NPM installed the package and imported it in.

[2018-10-26 19:05] pcross616 commented on #52
Some but not as much as I would have liked.  It will be in earnest in the next few weeks while we ramp up our dashboard project.

From: Jacob Askew <notifications@github.com>
Reply-To: Raathigesh/dazzle <reply@reply.github.com>
Date: Tuesday, October 23, 2018 at 6:14 AM
To: Raathigesh/dazzle <dazzle@noreply.github.com>
Cc: Peter Crossley <peterc@xley.com>, Comment <comment@noreply.github.com>
Subj

[2018-10-26 19:06] Mousecop commented on #52
Sounds good. If I am able to get to it before y'all, I will try to open a PR for it as well.

[2018-10-29 20:38] repl-andrew-ovens commented on #53
We are also experiencing this issue. Getting an actual version with a fix would be great

[2018-11-19 18:36] asaf opened #61 "drag and drop placeholder"
Hey,

It could be nice if d&d would support placeholder when dragging a widget around as in [react-grid-layout](https://strml.github.io/react-grid-layout/examples/0-showcase.html).

Thanks.

[2018-11-25 01:18] savaha opened #62 "create-react-app run build command"
Just created an app using create-react-app then tried to add dazzle to my project.
Dev build works fine, but when we are creating the deployment builds running the create-react-app command "npm run build" we get an error when browsing the application. Error message shown in browser console is: "Uncaught TypeError: Super expression must either be null or a function, not undefined".
Is there anyway

[2018-12-19 13:22] hugobarragon commented on #41
@Raathigesh @lalitaphalak  hello i will help maintain this project we use it has our main dashboards and  i am very excited with typescript V2

[2018-12-19 14:04] hugobarragon opened #63 "Scalable Dynamic dashboard widgets"
At the moment its impossible to use this dashboard dynamicly.
Where can exist widgets that are not included in the wiedgetList...
Should have a error prevent check here:
Check here: https://github.com/Raathigesh/dazzle/blob/master/lib/components/Widgets.js

and maybe even replace the widget with a Not Found for the user to delete intead of a dashboard crash.
It is not relieable to get a widget fro

[2018-12-20 14:02] ramonitor commented on #62
@savaha, see [#53](https://github.com/Raathigesh/dazzle/issues/53) for a (hopefully temporary) solution.

[2019-01-23 12:39] YannPoncet commented on #60
Hi, any news about this ? I think I have the same issue

When I `npm run build`, I get this in my command prompt:
[code]

When I `npm run start`, I get this in my browser console:
[code]

[2019-01-25 12:27] jazarja commented on #53
I also found this issue.

[2019-02-07 05:00] fawaskallayi opened #64 "Downloaded Sample project is not working."
I have downloaded the sample project and i run it in the browser but it is not working.

[2019-02-15 00:23] armckenzie commented on #31
Hello, is any timeline for a release that will include this fix?

[2019-02-18 19:37] sudo-tee commented on #53
I also had the issue upgrading my project.
I hope a new version with this fix comes out

[2019-03-12 14:47] IndushaS opened #65 "Swap widgets on drop?"
Would there be a way such that when a widget is dropped on another container already container a widget they would swap instead of being in the same container? ex. user drops widget A (container A) on widget b (container b), widget A would then be on container B and widget B would be on container A.

[2019-05-01 21:24] shefali-kudos commented on #51
What was the solution for this?

[2019-07-26 20:55] cjc343 commented on #53
@samsch Could you create a pull request with your changes?

[2019-11-18 21:19] veeral-patel commented on #64
The demo? @fawaskallayi

I also can't run it, since I have Node 10 but Node 4 is required to run it. Looks like it hasn't been updated in 4 years.

https://github.com/Raathigesh/Dazzle-Starter-Kit

[2019-12-12 11:27] BradPrit09 opened #67 "Cannot read property 'map' of undefined"
@lalitaphalak   When I integrate react-dazzle-starter-kit into my project this error is produced,I downgraded dazzle but it also  didn't work .Anyone having clue what is getting wrong here?
[code]

[2019-12-13 11:16] BradPrit09 commented on #67
I had a typo while I was renaming dashboard file.
I had given the wrong extension for the file,i.e dashboard.js and was importing in exact path='',this led to the above Error, now it's working correct

[2019-12-13 11:16] #67 closed, assigned to nobody

[2019-12-13 13:09] BradPrit09 commented on #64
Please specify the error.I have checked it,the project sample kit runs.

[2020-07-21 09:09] Philipp0205 opened #69 "Demo not accessible"
The demo linked in the readme [http://www.raathigesh.com/dazzle](http://www.raathigesh.com/dazzle) is not accesbile for me.

[2021-04-06 13:56] vytsci commented on #69
Why this project have been abandoned? Seem pretty useful nowdays.

[2021-07-07 18:26] jedwards1211 commented on #69
I think the demo site has been hacked.  The first time I visited it, it was telling me I had to install this secure search chrome extension before viewing the site.  But I don't always see the same page when I visit the link